#container {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
    margin-left: auto;
    margin-right: auto;
}
#header {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
}
#container2 {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
    overflow: auto;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    mar


}
#userInputFood
{
    border: 4px solid #000000;
    margin: 10px;
    width:23%;
    float: left;
    margin-left: 5px ;
}
#userInputPurchase
{

    border: 4px solid #000000;
    margin: 10px;
    width:23%;
    float: left;
    margin-left: 5px ;


}#userInputExpiration
 {

     border: 4px solid #000000;
     margin: 10px;
     width:23%;
     float: left;
     margin-left: 5px ;
 }
 #number
 {
     border: 4px solid #000000;
     margin: 10px;
     width:23%;
     float: left;
     margin-left: 5px ;
 }