body {
    background-image: url("http://silviahartmann.com/background-tile-art/images/black_woven_seamless_tile.jpg");
}
#container {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #fff;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
#header {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #fff;
    color: #fff;
}
#table {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #fff;
    overflow: auto;
    padding: 10px;
    text-align: center;
    color: #fff;
}

#form{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #fff;
    overflow: auto;
    padding: 10px;
    text-align:center;
    color: #fff;
}

thead{
    position:center;
}
th{
    width:200px;
}
#myTable{
    text-align:center;
    margin-right: auto;
    margin-left: auto;
}